.container {
    padding: 20px;
}

.title {
    color: #455d7a;
}

.description {
    color: #233142;
    font-weight: 500;
}

@media (min-width: 600px) {
    .container {
        padding: 20px 40px;
    }
}